.task{
    display:flex;
    justify-content: space-between;
    cursor:pointer;
    width:60%;
    margin:0 auto;
    padding:15px;
}

#contador{
    display:inline-block;
    width:60%;
    height:25px;
    margin:0 auto;
    font-size: 9px;
    padding:7px;
    padding-left:15px;
    font-weight: 800;
}

.borrar{
    color:ghostwhite;
}

.borrar:hover{
    color:red;
}

#input{
    display:block;
    width:60%;
    margin:0 auto;
    border:none;
}

#input:focus ,#input:active{
    outline:none !important;
    border:none !important;
}

.sombra-1{
    height:5px !important;
    width:59%;
    margin:0 auto;
    border:1px solid gainsboro;
}

.sombra-2{
        height:5px !important;
        width:58%;
        margin:0 auto;
        border:1px solid gainsboro;
}